main{
    margin: auto;
    width: 500px;
    height:auto; 
    background-color: white;
    padding: 10px;
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 10px 10px 10px 10px;
    font-family: sans-serif;
}
body{
    background-color: rgba(29, 29, 117, 0.966);
}
h1{
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(48, 48, 204);
    margin: -10px -10px 5px -10px;
    color: white;
    padding: 5px;
    border-radius: 10px 10px 0px 0px ;
}
h2{
    font-family: sans-serif;
    font-size: 1.2em;
}
a{
    text-decoration: none;
    font-style: none;
    display: block;
    text-align: center;
    font-size: 1.05em;
}